#root {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    ellipse farthest-side at center,
    rgba(0, 0, 0, 0.95) 0px,
    rgba(0, 0, 0, 0.9) 100px,
    rgba(0, 0, 0, 0.85) 300px,
    rgba(0, 0, 0, 0.8) 500px,
    rgba(0, 0, 0, 0.75) 700px,
    rgba(0, 0, 0, 0.7) 900px,
    rgba(0, 0, 0, 0.65) 1000px,
    rgba(0, 0, 0, 0.6) 1900px
  );
}
